.become-an-investor {
  padding: 44px 17px 46px;

  @media (min-width: $desktop-width) {
    padding: 60px 30px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 30px 80px;
  }

  @media (min-width: $widescreen-width) {
    max-width: 1187px;
    margin: 0 auto;
    padding: 99px 0px 111px;
  }
}

.become-an-investor__heading {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $widescreen-width) {
    margin-bottom: 82px;
  }
}

.become-an-investor__list {
  display: grid;
  grid-auto-flow: row;
  align-items: center;

  @include reset-list;

  margin-bottom: 28px;

  font-size: 16px;

  counter-reset: step-counter;

  @media (min-width: $tablet-width) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: calc(25px + (100vw - 780px) / 20);
    margin-bottom: 42px;
  }

  @media (min-width: $widescreen-width) {
    column-gap: 46px;
    margin-bottom: 56px;

    font-size: 15px;
  }
}

// Элемент упорядоченного списка
.become-an-investor__item {
  position: relative;
  counter-increment: step-counter;

  display: flex;
  align-items: center;
  width: 86%;
  min-height: 112px;
  padding-left: 95px;

  // Цифра
  &::before {
    content: counter(step-counter);
    position: absolute;
    top: 50%;
    left: 0;

    width: 61px;
    padding: 17px 0;

    font-size: 27px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    color: $primary-2;

    border-radius: 50%;
    background-color: $dark;

    transform: translateY(-50%);
  } // Цифра

  // Стрелка
  &:not(:last-child) {
    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 24px;

      width: 13px;
      height: 22px;

      background-image: url('../img/icon-arrow-list.svg');
      background-repeat: no-repeat;

      transform: translateY(50%);
    }
  } // Стрелка

  &--wide {
    width: 97%;
  }

  // Планшет
  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 100%;
    min-height: calc(130px + (100vw - 780px) / 20);
    padding-top: calc(80px + (100vw - 780px) / 25);
    padding-left: 0;

    text-align: center;

    // Цифра
    &::before {
      top: 0;
      left: 50%;

      width: calc(80px + (100vw - 780px) / 40);
      padding: calc(20px + (100vw - 780px) / 70) 0;

      font-size: calc(35px + (100vw - 780px) / 70);

      transform: translateX(-50%);
    }

    // Стрелка
    &:not(:last-child) {
      &::after {
        bottom: 55%;
        left: unset;
        right: -10px;

        width: calc(16px + (100vw - 780px) / 100);
        height: calc(25px + (100vw - 780px) / 100);

        background-size: contain;

        transform: translate(100%, -25%) rotate(-90deg);
      }
    } // Стрелка
  } // Планшет

  // Широкий экран
  @media (min-width: $widescreen-width) {
    min-height: 222px;
    padding-top: 146px;

    // Цифра
    &::before {
      width: 150px;
      padding: 45px 0;

      font-size: 60px;
    }

    // Стрелка
    &:not(:last-child) {
      &::after {
        bottom: 50%;

        width: 27px;
        height: 46px;

        background-size: cover;

        transform: translate(100%, -25%) rotate(-90deg);
      }
    }
  } // Широкий экран
} // Элемент упорядоченного списка

.become-an-investor__buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.become-an-investor__button {
  width: 68%;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 265px;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 45px;
    }
  }
}
