.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 49px;
  padding: 0 10px;

  font-family: $font-family;
  text-transform: uppercase;

  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;

  &--primary {
    min-height: 42px;

    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: $letter-spacing-2;

    border: none;
    background-color: $primary;

    box-shadow: 0 2.4px 12px rgba(255, 151, 10, 0.41);
  }

  &--2 {
    font-weight: 500;
    color: $primary;
    letter-spacing: $letter-spacing;

    border-color: $white-opacity-30;
    background-color: $black;
  }

  &--3 {
    min-height: 42px;

    font-weight: 500;
    line-height: 13px;
    color: $light;
    letter-spacing: $letter-spacing-3;

    border-color: $grey-4;
    background-color: $black;
  }

  &--arrow {
    &::after {
      content: "";

      width: 19px;
      height: 12px;
      margin-left: 8px;

      background-image: url("../img/icon-arrow-button.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    cursor: pointer;

    @include transition;

    &--primary {
      min-height: 49px;

      font-size: 15px;

      &:hover {
        transform: translateY(-3px);
      }
    }

    &--2 {
      &:hover {
        border-color: $primary;
      }
    }

    &--3 {
      min-height: 46px;

      &:hover {
        border-color: $primary;
      }
    }

    &--arrow {
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}
