.intro-socials {
  padding-top: 51px;
}

.intro-socials__list {
  @include reset-list;
}

.intro-socials__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.intro-socials__icon {
  color: $white;

  @include transition(0.1s);

  &:hover {
    transform: scale(1.15);
  }
}
